button {
    margin: 10px;
    padding: 10px;
    color: white;
    outline: none;
    cursor: pointer;
  /*  transition: .4s all;*/
  border: none;
    border-radius: 4px;
    background-color: green;
}
/*
button:hover {
   transform: scale(1.1);
}
   */