

.form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.form-input input {
    margin: 5px;
    border: 1px solid gray;
    font-size: 12px;
    outline: none;
    border-radius: 2px;
}

