.camisetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 120px;
}

.camisetas-lista {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}

.camisetas-lista .camiseta-item {
   margin-top: 20px;
   width: 25%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}
.camisetas-lista .camiseta-item img{
   width: 100%;
   height: 150px;

}